@page "/"
@inject IDashboardViewModel _viewModel
<h3>Dashboard</h3>

@if (_viewModel.Matches != null && _viewModel.Matches.Any())
{
    <p>Data based on @_viewModel.Matches.Count matches</p>
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-2">
            <RadzenDropDown TValue="PlayerPosition?" Placeholder="Filter by position" AllowClear="true" Data="@_viewModel.WinRateFilterOptions" Change="@_viewModel.CalculateWinRates"></RadzenDropDown>
        </div>
    </div>
    <div class="row">
        @if (!ShowWinrateDrillDownChart && _viewModel.OverallWinrates != null && _viewModel.OverallWinrates.Any())
        {
            <div class="col-sm-12 col-md-6">
                <RadzenChart SeriesClick="@OnOverallWinrateSeriesClick">
                    <RadzenBarSeries Data="@_viewModel.OverallWinrates" CategoryProperty="Key" ValueProperty="Value" Title="Win rate (%)" />
                    <RadzenLegend Position="LegendPosition.Bottom" />
                    <RadzenValueAxis Min="0" Step="5" />
                </RadzenChart>
            </div>
        }
        @if (ShowWinrateDrillDownChart && _viewModel.DrillDownAttackerWinrates != null && _viewModel.DrillDownDefenderWinrates != null)
        {
            <div class="col-sm-12 col-md-6">
                <RadzenChart SeriesClick="@OnWinrateSeriesClick">
                    <RadzenBarSeries Data="@_viewModel.DrillDownAttackerWinrates" CategoryProperty="Key" ValueProperty="Value" Title="Attacker win rate (%)" />
                    <RadzenBarSeries Data="@_viewModel.DrillDownDefenderWinrates" CategoryProperty="Key" ValueProperty="Value" Title="Defender win rate (%)" />
                    <RadzenLegend Position="LegendPosition.Bottom" />
                    <RadzenValueAxis Min="0" Step="5" />
                </RadzenChart>
            </div>
        }
        @if (!ShowMatchesPlayedDrillDownChart && _viewModel.OverallMatchesPlayed != null && _viewModel.OverallMatchesPlayed.Any())
        {
            <div class="col-sm-12 col-md-6">
                <RadzenChart SeriesClick="@OnOverallMatchesPlayedSeriesClick">
                    <RadzenBarSeries Data="@_viewModel.OverallMatchesPlayed" CategoryProperty="Key" ValueProperty="Value" Title="Matches played" />
                    <RadzenLegend Position="LegendPosition.Bottom" />
                    <RadzenValueAxis Min="0" />
                </RadzenChart>
            </div>
        }
        @if (ShowMatchesPlayedDrillDownChart && _viewModel.DrillDownAttackerMatchesPlayed != null && _viewModel.DrillDownDefenderMatchesPlayed != null)
        {
            <div class="col-sm-12 col-md-6">
                <RadzenChart SeriesClick="@OnMatchesPlayedSeriesClick">
                    <RadzenBarSeries Data="@_viewModel.DrillDownAttackerMatchesPlayed" CategoryProperty="Key" ValueProperty="Value" Title="Attacker matches played" />
                    <RadzenBarSeries Data="@_viewModel.DrillDownDefenderMatchesPlayed" CategoryProperty="Key" ValueProperty="Value" Title="Defender matches played" />
                    <RadzenLegend Position="LegendPosition.Bottom" />
                    <RadzenValueAxis Min="0" Step="5" />
                </RadzenChart>
            </div>
        }
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        @if (_viewModel.TableSideWinRates != null && _viewModel.TableSideWinRates.Any())
        {
            <div class="col-6">
                <RadzenChart>
                    <RadzenPieSeries Data="@_viewModel.TableSideWinRates" Title="Win rate (%)" CategoryProperty="Key" ValueProperty="Value" />
                    <RadzenLegend Position="LegendPosition.Bottom" />
                </RadzenChart>
            </div>
        }
        @*        @if (TeamWinrates != null && TeamWinrates.Any())
            {
            <div class="col-6">
            <RadzenChart>
            <RadzenBarSeries Data="@TeamWinrates" CategoryProperty="Key" ValueProperty="Value" Title="Win rate (%)" />
            <RadzenLegend Position="LegendPosition.Bottom" />
            <RadzenValueAxis Min="0" Step="5" />
            </RadzenChart>
            </div>
            }*@
    </div>
</div>
