@page "/"
@inject IDashboardViewModel _viewModel
<h3>Dashboard</h3>

@if (_viewModel.Matches != null && _viewModel.Matches.Any())
{
    <p>Data based on @_viewModel.Matches.Count matches</p>
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-2">
            <RadzenDropDown TValue="PlayerPosition?" Placeholder="Filter by position" AllowClear="true" Data="@_viewModel.WinRateFilterOptions" Change="@_viewModel.CalculateWinRates"></RadzenDropDown>
        </div>
    </div>
    <div class="row">
        @if (_viewModel.PlayerWinrates != null && _viewModel.PlayerWinrates.Any())
        {
            <div class="col-sm-12 col-md-6">
                <RadzenChart>
                    <RadzenBarSeries Data="@_viewModel.PlayerWinrates" CategoryProperty="Key" ValueProperty="Value" Title="Win rate (%)" />
                    <RadzenLegend Position="LegendPosition.Bottom" />
                    <RadzenValueAxis Min="0" Step="5" />
                </RadzenChart>
            </div>
        }
        @if (_viewModel.PlayerMatchesPlayed != null && _viewModel.PlayerMatchesPlayed.Any())
        {
            <div class="col-sm-12 col-md-6">
                <RadzenChart>
                    <RadzenBarSeries Data="@_viewModel.PlayerMatchesPlayed" CategoryProperty="Key" ValueProperty="Value" Title="Matches played" />
                    <RadzenLegend Position="LegendPosition.Bottom" />
                    <RadzenValueAxis Min="0" />
                </RadzenChart>
            </div>
        }
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        @if (_viewModel.TableSideWinRates != null && _viewModel.TableSideWinRates.Any())
        {
            <div class="col-6">
                <RadzenChart>
                    <RadzenPieSeries Data="@_viewModel.TableSideWinRates" Title="Win rate (%)" CategoryProperty="Key" ValueProperty="Value" />
                    <RadzenLegend Position="LegendPosition.Bottom" />
                </RadzenChart>
            </div>
        }
@*        @if (TeamWinrates != null && TeamWinrates.Any())
        {
            <div class="col-6">
                <RadzenChart>
                    <RadzenBarSeries Data="@TeamWinrates" CategoryProperty="Key" ValueProperty="Value" Title="Win rate (%)" />
                    <RadzenLegend Position="LegendPosition.Bottom" />
                    <RadzenValueAxis Min="0" Step="5" />
                </RadzenChart>
            </div>
        }*@
    </div>
</div>
